extends _layout

block page
    .video-cnt.with-pattern(
        style="background-image: url(#{video.maxres})", data-video-id=video.id)
            #ytplayer
    .page-content
        .page-block
            A(href="#").start-video-clicker
            .location-info.static
                include _location
    .page-white
        .page-block
            .sub-menu
                menu
                    each playlist in playlists
                        A(href="/video/#{playlist.tag}"
                            class=playlist.tag == playlistTag ? 'active' : null
                            data-playlist-tag = playlist.tag
                            data-video-preview = playlist.default.maxres
                            data-video-id = playlist.default.id)= playlist.title || playlist.tag
        .page-block.videos(class = playlistTag)
            each playlistItem in catalog
                A.with-loader.all(href="/video/#{playlistTag}/#{playlistItem.id}"
                    data-video-preview=playlistItem.maxres,
                    data-video-id=playlistItem.id,
                    class = playlistItem.tags.concat(playlistItem.id == video.id ? ['current'] : []))
                    span.preview(style="background-image: url(#{playlistItem.lores})")
                    br
                    = playlistItem.title


//
    A(href="/video/music") Music
    A(href="/video/commercial") Commercial
    A(href="/video/social") Social
    A(href="/video/corporate") Corporate
    A(href="/video/tv-show") TV Show
    A(href="/video/concert") Concert